body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  flex-shrink: 0;
  padding: 16px;
}

.sidebar a, 
.sidebar ul { 
  list-style-type: none;
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;

  width: 200px;
  padding: 16px;
}

.body { 
  display: flex;
  flex: 1;
}

.cards-all {
  display: flex;
  /* flex-direction: row;
  justify-content: flex-start;
  align-items: stretch; */
  flex-wrap: wrap;
  gap: 30px;
  padding: 48px;
}